// Here goes your CSS
@import 'layout/main';

.popup {
    display: none;
}

.visible {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: auto;
   
    transition:0.5s;
    form {
        display: flex;
        flex-direction: column; 
        background-color: #fff;
        border-radius: 2%;
        padding: 5% 15%;
        
    }.close{
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(50%, -50%);
        color: white;
        background-color: black;
        border-radius: 50%;
        padding: 3px 5px;
        font-weight: bold;
        cursor: pointer;
    }p{
        text-align: center;
        font-family: 'Lobster', sans-serif;
        font-size: 25px;
       
    }input{
        padding: 5% 0;
        margin: 5% 0;
    }.check{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }input[type="checkbox"]{
        appearance: none;
        -webkit-appearance: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        background-color: #fff;
        border: 1px solid black;
        transition: all 0.5s;
        cursor: pointer;
        &::after {
           content: '\f00c';
           font-weight: 900;
           font-family: 'Font Awesome 5 Free'; 
           font-size: 15px;
           display: none;
        }&:hover {
            background-color: rgb(231, 231, 231);
        }&:checked {
            background-color: #fff;
            &::after {
               display: block; 
            }
        }
    }label {
        font-size: 15px;
        text-align: center;
    }
    
    button {
        margin: 5% 0;
        padding: 5% 0;
        background-color: black;
        color: white;
        transition: all 0.5s;
        border: none;
        &:hover{
            background-color: rgb(250, 117, 117);
            color: black;
        }
    }
}
